<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>상품 상세보기</title>
    <script th:src="@{/static/js/manageCart.js}"></script>
</th:block>

<th:block layout:fragment="body_main">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center" scope="col">상품 번호</th>
            <th class="text-center" scope="col">상품 이미지</th>
            <th class="text-center" scope="col">상품명</th>
            <th class="text-center" scope="col">설명</th>
            <th class="text-center" scope="col">판매 가격</th>
            <th class="text-center" scope="col">수량</th>
        </tr>
        </thead>
        <div>
            <tbody th:object="${product}">
            <td class="text-center" th:text="*{no}"></td>
            <td class="text-center"><img th:src="@{'/static/images/products/' + *{name} +'.jpg'}" width="250" height="250"></td>
            <td class="text-center"><a th:text="*{name}"></a> </td>
            <td class="text-center" th:text="*{description}"></td>
            <td class="text-center" th:text="*{price} + '원'"></td>
            <td class="text-center"><input id="productAmount" type="number" value="1" min="1" name="amount"/></td>
            </tbody>
        </div>

        <form id="addCart" action="/cart" method="post" th:object="${product}">
            <input type="hidden" th:value="*{no}" name="productNo"/>
            <input type="hidden" id="cartAmount" name="productAmount"/>
            <input type="button" class="btn btn-primary" value="장바구니 담기" onclick="addCart()">
        </form>

        <form id="addOrderProduct" th:action="@{'/order/single'}" method="get" th:object="${product}">
            <input type="hidden" th:value="*{no}" name="productNo"/>
            <input type="hidden" id="orderAmount" name="productAmount"/>
            <input type="button" class="btn btn-secondary" value="주문하기" onclick="addOrderProduct()">
        </form>
    </table>


</th:block>
</html>