<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상품 상세보기</title>
</head>
<body>
<table>
    <thead>
    </thead>
    <tbody>
    <tr th:if="${not #lists.isEmpty(product)}" th:each="product : ${product}">
        <td><img src="" width="100" height="100"></td>
        <td th:text="${product.no}"></td>
        <td><a th:href="@{'/product/' + ${product.no}}" th:text="${product.name}"></a> </td><br>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${#temporals.format(product.regdate, 'yyyy/mm/dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>