<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>상품 상세보기</title>
</head>
<body>
<br>
<br>
<br>
<table>
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><img th:src="@{'/static/images/products/' + ${product.name} +'.jpg'}" width="100" height="100"></td>
        <td ><a th:text="${product.name}"></a> </td>
        <td th:text="${product.no}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${#temporals.format(product.regdate, 'yyyy/mm/dd HH:mm')}"></td>
    </tr>
    </tbody>

    <form th:action="@{'/shoplist'}" method="post" th:object="${product}">
        <input type="hidden" th:field="${product.no}">
        <input type="submit" value="장바구니 담기">
    </form>

    <form th:action="@{'/order/list'}" method="get" th:object="${product}">
        <input type="hidden" th:field="${product.no}">
        <input type="submit" value="주문하기">
    </form>
</table>

</body>
</html>