<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <script th:src="@{/static/js/search.js}"></script>
    <title>상품 목록보기</title>
</th:block>

<th:block layout:fragment="body_main">
    <div class="container">
        <div class="input-group mb-3">
            <input class="form-control" type="search" placeholder="상품 검색" id="search" th:value="${search}"/>
            <select class="custom-select" id ="category">
                <div th:each="category : ${categories}">
                <span th:if="${select.equals(category.name)}">
                    <option selected th:text="${category.name}"></option>
                </span>
                    <span th:unless="${select.equals(category.name)}">
                    <option th:text="${category.name}"></option>
                </span>
                </div>
            </select>
            <input class="btn btn-default" type="button" value="검색" onclick="search()"/>
        </div>

        <div class="row">
            <div class="col-md-6" th:if="${not #lists.isEmpty(products)}" th:each="product : ${products}">
                <div><a th:href="@{'/product/detail/' + ${product.no}}"><img class="rounded mx-auto d-block" th:src="@{'/static/images/products/ubuntu.jpg'}" width="300" height="300"></a></div>
                <!--<div><a th:href="@{'/product/detail/' + ${product.no}}"><img class="rounded mx-auto d-block" th:src="@{'/static/images/products/'+${product.name}+'.jpg'}" width="300" height="300"></a></div>-->
                <div style="font-weight: bold; font-size: xx-large" class="text-lg-center" th:text="Ubuntu"></div><br>
                <div class="text-center" th:text="'판매가격 : ' + ${product.price}+'원'"></div><br>
            </div>
        </div>

        <div class="col-md-12">
            <div class="dataTables_paginate paging_simple_numbers" id="data_table_paginate">
                <ul class="pagination pagination-lg justify-content-center">
                    <li th:classappend="(${pageManager.pageOffset == 0} ? ' disabled ' : ' ')" class="paginate_button page-item previous" id="data_table_previous">
                        <a th:href="@{/product/list(page=${pageManager.pageOffset - pageManager.PAGE_SCOPE+1}, category=${pageManager.category}, search=${pageManager.search})}" th:text="prev" class="page-link"></a>
                    </li>
                    <li th:each="i : ${#numbers.sequence( {pageManager.pageOffset + 1}, {pageManager.pageOffset + pageManager.PAGE_SCOPE})}" th:classappend="(${pageManager.currentPage == i%pageManager.PAGE_SCOPE} ? 'active':'') + (${i > pageManager.totalPage}) ? 'disabled':''" class="paginate_button page-item ">
                        <a th:href="@{/product/list(page=${i}, category=${pageManager.category}, search=${pageManager.search})}" th:text="${i}" class="page-link"></a>
                    </li>
                    <li th:classappend="(${pageManager.pageOffset + pageManager.PAGE_SCOPE > pageManager.totalPage} ? 'disabled ' : '')" class="paginate_button page-item next" id="data_table_next">
                        <a th:href="@{/product/list(page=${pageManager.pageOffset + pageManager.PAGE_SCOPE+1}, category=${pageManager.category}, search=${pageManager.search})}" th:text="next" class="page-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>