<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>주문 상세보기</title>
</th:block>

<th:block layout:fragment="body_main">
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th th:width="300" style="font-size: x-large" scope="col">상품 이미지</th>
                <th th:width="300" style="font-size: x-large" scope="col">상품명</th>
                <th th:width="300" style="font-size: x-large" scope="col">주문 수량</th>
                <th th:width="300" style="font-size: x-large" scope="col">판매 가격</th>
            </tr>
            </thead>
            <div>
                <tbody>
                <tr th:each="op : ${orderProducts}">
                    <td><img th:src="@{'/static/images/products/' + ${op.product.name} +'.jpg'}" width="200" height="200"></td>
                    <td style="font-size: x-large" th:text="${op.product.name}"></td>
                    <td style="font-size: x-large" th:text="${op.amount}"/></td>
                    <td style="font-size: x-large" th:text="${op.product.price * op.amount}+'원'"></td>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
        <div style="font-size: x-large" class="text-lg-center font-weight-bold" th:text="'금액 합계 : ' + ${totalPrice} + ' 원'"></div>
    </div>

</th:block>
</html>