<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
    <title>주문 하기</title>
    <script src="/static/js/addressSearch.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</th:block>

<th:block layout:fragment="body_main">
    <div id="fog"></div>
    <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th th:width="300" style="font-size: x-large" scope="col">상품 이미지</th>
                <th th:width="300" style="font-size: x-large" scope="col">상품명</th>
                <th th:width="300" style="font-size: x-large" scope="col">주문 수량</th>
                <th th:width="300" style="font-size: x-large" scope="col">판매 가격</th>
            </tr>
            </thead>
            <div>
                <tbody>
                <tr th:each="cart : ${carts}">
                    <td><img th:src="@{'/static/images/products/ubuntu.jpg'}" width="200" height="200"></td>
                    <!--<td><img th:src="@{'/static/images/products/' + ${cart.product.name} +'.jpg'}" width="200" height="200"></td>-->
                    <td style="font-size: x-large" th:text="${cart.product.name}"></td>
                    <td style="font-size: x-large" th:text="${cart.amount}"></td>
                    <td style="font-size: x-large" th:text="${cart.product.price * cart.amount}+'원'"></td>
                </tr>
                </tbody>
            </div>
        </table>
        <div style="font-size: x-large" id="totalPrice" class="text-lg-center font-weight-bold" th:text="'금액 합계 : ' + ${totalPrice} + ' 원'"></div>
    </div>

    <div class="container">
        <div style="font-size: xx-large" class="font-weight-bold">배송지 정보</div>
        <form id="send" action="/order" method="post">
            <div class="form-group mb-3">
                <div class="form-group-prepend">
                    <label>수신자 성명</label>
                </div>
                <input class="form-control" type="text" placeholder="주문자 성명" name="userName" th:value="${user.name}">
            </div>
            <div class="form-group mb-3">
                <div class="form-group-prepend">
                    <label>배송받을 주소</label>
                    <button type="button" class="btn btn-info btn-sm" id="addressSearch">주소검색</button>
                </div>
                <input type="text" class="form-control" id="address" name="userAddress" required="" th:value="${user.address}">
            </div>

            <div class="form-group mb-3">
                <div class="form-group-prepend">
                    <label>주문자 연락처</label>
                </div>
                <input class="form-control" type="text" placeholder="연락처" name="userPhone" th:value="${user.phone}">
            </div>
            <div>
                <input th:if="(${totalPrice}==0)" class="btn btn-primary btn-lg btn-block" type="button" value="결제하기" disabled>
                <input th:unless="(${totalPrice}==0)" class="btn btn-primary btn-lg btn-block" type="button" value="결제하기" onclick="document.getElementById('send').submit()">
            </div>
        </form>


    </div>
</th:block>
<body>
</html>