<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Shopping</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>

        <div class="my-2 my-lg-0">
            <span class="navbar-text"></span>
            <button type="button" class="btn btn-success" onclick="moveLogin()">로그인</button>
        </div>
        <div class="my-2 my-lg-0">
            <span class="navbar-text"></span>
            <button type="button" class="btn btn-primary" onclick="moveJoin()">회원가입</button>
        </div>
    </div>
</nav>