<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="html_head">
    <script th:src="@{/static/js/admin.js}"></script>

    <title>카테고리 목록보기</title>
</th:block>

<th:block layout:fragment="body_main">
    <div style="margin-top: 40px"></div>
    <form th:action="@{/admin/category}" action="#" method="post" id="addForm">
        <div class="form-group" style="text-align:center;">
            <input type="text" class="form-control" id="ctgrName"
                   aria-describedby="categoryHelp" placeholder="카테고리 명" name="name"
                    style="width: 20%;display:inline-block;">
            <button type="submit" class="btn btn-sm btn-outline-secondary" >
                추가
            </button>
        </div>
    </form>
    <form th:action="@{/admin/category/list}" action="#" method="post" id="modifyForm">
        <div style="text-align:center;margin:60px 0px 20px 0px;">
            <div th:if="${not #lists.isEmpty(categoryList)}" th:each="ctgr, status: ${categoryList}">
                <input type="checkbox" th:name="no" th:value="${ctgr.no}" th:data-idx = "${status.index}">
                <input type="text" th:name="name" th:value="${ctgr.name}" th:id="'name.'+${status.index}">
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="'submitWithJson(\'PUT\', \'no\', \'data-idx\', \'categoryList\', [\'name\']);'">
                선택 수정
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="'submitWithJson(\'DELETE\', \'no\', \'data-idx\', \'categoryList\', [\'name\']);'">
                선택 삭제
            </button>
        </div>
    </form>



</th:block>
</html>
